<div data-role="splitter" class="h-100" >
    <div data-role="splitter" data-split-mode="vertical">
        <div data-role="splitter" data-split-mode="horizontal">
            <div>
                <h1 class="d-flex flex-justify-top flex-align-left">Panel 1</h1><br />
                <table class="d-flex flex-justify-center flex-align-center">
                    <tr>
                        <th>asd</th>
                        <th>asd</th>
                    </tr>
                    <tr>
                        <td>asd</td>
                        <td>asd</td>
                    </tr>
                </table>
            </div>
            <div class="d-flex flex-justify-center flex-align-center">Panel 2</div>
            <div class="d-flex flex-justify-center flex-align-center">Panel 3</div>
        </div>
        <div data-role="splitter" data-split-mode="horizontal">
            <div class="d-flex flex-justify-center flex-align-center">Panel 4</div>
            <div class="d-flex flex-justify-center flex-align-center">Panel 5</div>
        </div>
    </div>
    <div data-role="splitter" data-split-mode="vertical">
        <div class="d-flex flex-justify-center flex-align-center">Panel 6</div>
        <div class="d-flex flex-justify-center flex-align-center">Panel 7</div>
        <div class="d-flex flex-justify-center flex-align-center">Panel 8</div>
    </div>
</div>
<script src="~/build/js/metro.js"></script>
